In [1]:
from Rank.train import train

Using TensorFlow backend.

In [ ]:
data_dir = 'data/trainSet/rank/web_train_file'
dict_dir = 'data/trainSet/rank/dict'
out_dir = 'data/trainSet/rank/web_training'
model_ops = ['cnn', 'lstm', 'bilstm', 'bilstmAtt']

In [ ]:
CLS = ['9001', '9012', '9047', '9130', '9299', '9461', '9483', '9542', '9705', '9771']
train(data_dir = data_dir, dict_dir = dict_dir, cls=CLS[9], model_op=model_ops[3], out_dir=out_dir)

In [ ]:
# train(data_dir = dir, cls='9001', model_op=model_ops[1], out_dir=out_dir)

In [ ]:
# train(data_dir = dir, cls='9001', model_op=model_ops[2], out_dir=out_dir)

In [ ]:
# train(data_dir = dir, cls='all', model_op=model_ops[3], out_dir=out_dir)

In [ ]:
print('finish!')

In [1]:
import pandas as pd
import os
dir = 'data/trainSet/rank/training'

In [2]:
CLS = ['9001', '9012', '9047', '9130', '9299',
       '9461', '9483', '9542', '9705', '9771']
model = ['cnn', 'lstm', 'bilstm', 'bilstmAtt']

In [3]:
df1 = pd.read_csv(os.path.join(dir, CLS[9], model[0], 'log.csv'))
df1

   epoch      loss  val_loss
0      0  0.019142  0.019578
1      1  0.019268  0.019754
2      2  0.018815  0.019364
3      3  0.018847  0.018110
4      4  0.018997  0.018678
5      5  0.019248  0.018718
6      6  0.019151  0.018241
7      7  0.018913  0.018691
8      8  0.018862  0.019207
9      9  0.018857  0.018839

In [4]:
df2 = pd.read_csv(os.path.join(dir, CLS[9], model[1], 'log.csv'))
df2

   epoch      loss  val_loss
0      0  0.019547  0.018784
1      1  0.018949  0.018851
2      2  0.019197  0.018562
3      3  0.018752  0.019333
4      4  0.019114  0.019200
5      5  0.019053  0.018997
6      6  0.019212  0.018591
7      7  0.018947  0.017807
8      8  0.018809  0.018937
9      9  0.019021  0.018026

In [5]:
df3 = pd.read_csv(os.path.join(dir, CLS[9], model[2], 'log.csv'))
df3

   epoch      loss  val_loss
0      0  0.019363  0.018791
1      1  0.019234  0.017904
2      2  0.018917  0.018518
3      3  0.018873  0.019245
4      4  0.018962  0.018775
5      5  0.019352  0.019210
6      6  0.019114  0.019298
7      7  0.018849  0.019020
8      8  0.018959  0.018535
9      9  0.018801  0.018417

In [6]:
df4 = pd.read_csv(os.path.join(dir, CLS[9], model[3], 'log.csv'))
df4

   epoch      loss  val_loss
0      0  0.019176  0.019323
1      1  0.019560  0.018895
2      2  0.019086  0.019101
3      3  0.019295  0.019236
4      4  0.018969  0.019635
5      5  0.019102  0.019087
6      6  0.019136  0.019205
7      7  0.019037  0.019245
8      8  0.018446  0.018646
9      9  0.019190  0.019154